body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.flex {
  display: flex;
  align-items: center;
}

.column {
  flex-direction: column;
}

.margined-right {
  margin-right: 10px;
}

.margined-bottom {
  margin-bottom: 10px;
}

.pointer {
  cursor: pointer;
}
